<div class="sidebar">
  <a routerLink="/admin" class="logo"><img src="../../../assets/smartbuy-logo.png" alt=""></a>
  <ul class="menu">
    <li><a routerLink="/admin/dashboard"><i class="pi pi-chart-line"></i> Tableau de bord</a></li>
    <li><a routerLink="/admin/products"><i class="pi pi-box"></i> Produits</a></li>
    <!-- <li><a routerLink="/admin/orders"><i class="pi pi-shopping-cart"></i> Commandes</a></li> -->
  </ul>

  <!-- Bouton de déconnexion -->
  <button class="logout-btn" (click)="logout()">
    <i class="pi pi-power-off"></i> Déconnexion
  </button>
</div>
