.container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh;
  gap: 50px;
  padding-right: 40px;
}

.image-section img {
  width: 50vw;
  height: 80vh;
}

.form-section {
  text-align: left;
  width: 60%;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;

}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #001f3f;
  transition: background 0.3s ease-in-out;

}

button:hover {
  background: linear-gradient(45deg, #8e44ad, #e84393);
}

.create-account {
  color: white;

}


a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
