
<div class="container">
  <div class="image-section">
    <img src="../../../../assets/Side Image.png" alt="Shopping illustration" />
  </div>
  <div class="form-section">
    <h2>Créer un compte</h2>
    <p>Entrez vos informations ci-dessous</p>
    <form (ngSubmit)="register()">
      <input type="text" [(ngModel)]="user.prenom" name="prenom" placeholder="Prénom" required />
      <input type="text" [(ngModel)]="user.nom" name="nom" placeholder="Nom" required />
      <input type="text" [(ngModel)]="user.email" name="email" placeholder="Email" required />
      <input type="password" [(ngModel)]="user.mdp" name="mdp" placeholder="Mot de passe" required />
      
      <button type="submit" class="create-account">Créer un compte</button>
    </form>
    <div *ngIf="message" [ngClass]="{'success-alert': isSuccess, 'error-alert': !isSuccess}">
      {{ message }}
    </div>
    
    <p>Vous avez déjà un compte ? <a (click)="redirectToLogin()">Connectez-vous</a></p>
  </div>
</div>
