.search-form {
  position: relative;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    flex-grow: 1;
    padding: 10px 15px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    }
  }

  button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #0056b3;
    }
  }
}
.flex.pt-3 {
    display: flex;
    gap: 10px;
  
    button {
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 25px;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      border-radius: 30px;
            cursor: pointer;
  
      &:first-child {
        background-color: #4357ad;
        color: #ffffff;

  
        &:hover {
         
          background-color: #ffffff;
          color: #4357ad;
          border: 2px solid #4357ad;
        }
      }
  
      &:last-child {
    
        background-color: #ffffff; 
        color: #4357ad; 
        border: 2px solid #4357ad;
  
        &:hover {
            background-color: #4357ad;
            color: #ffffff;
        }
      }
    }
  }
  
  .p-ripple span{
    color: #000000;
  }

.border-round.surface-overlay {
  border: 2px solid #001f3f !important;
  z-index: 1000 !important;
}

#list-account{
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;;
  cursor: pointer !important;

}

.a-account{
  display: flex !important;
  gap: 10px !important;
  color: #001f3f !important;
  width: 100%;
  padding: 10px;
  border: 1px solid #001f3f !important;
  text-decoration: none;

  


}

.a-account:hover{
  color: white !important;
  background: linear-gradient(45deg, #8e44ad, #e84393);

}