<div class="checkout-container">
    <h2>Checkout</h2>
  
    <div *ngFor="let item of cartItems" class="checkout-item">
      <img [src]="item.image" alt="{{ item.name }}" class="checkout-item-image">
      <div class="checkout-item-details">
        <span>{{ item.name }}</span>
        <span>${{ item.price }}</span>
        <span>Qty: {{ item.quantity }}</span>
      </div>
    </div>
  
    <div class="total-price">
      <strong>Total: ${{ totalPrice }}</strong>
    </div>
  
    <button (click)="confirmOrder()" pButton pRipple class="p-element p-ripple p-button">Confirm Order</button>
  </div>
  